[submodule "lib/sobjectizer"]
	path = lib/sobjectizer
	url = https://github.com/Stiffstream/sobjectizer.git
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/whisper.cpp"]
	path = lib/whisper.cpp
	url = git@github.com:ggml-org/whisper.cpp.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost.git
